.navbar {
    margin-top: 2em;
    border: 0px;
    border-bottom: solid 0.3em #DDD !important;
}
.navbar a:link, .navbar a:visited {
    text-decoration: none;
    font-size: 1.4em;
}

.navbar-nav {
    padding: 1em;
}
.navbar-nav li.open a:link,
.navbar-nav li.open a:visited,
.active {
    font-weight: bold;
}

@media (min-width: 1151px) {
    .navbar-nav {
        position: absolute;
        bottom: -5em;
    }
}
@media (min-width: 1357px) and (max-width: 1457px) {
    .navbar-nav {
        position: absolute;
        bottom: -6em;
    }
}
@media (min-width: 1600px) {
    .navbar-nav {
        position: absolute;
        bottom: -6em;
    }
}

