{% extends 'base.html.twig' %}

{% block title %} | {{ "nav.index"|trans({}, 'base') }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/pfgallery/css/index.css') }}">
{% endblock stylesheets %}

{% block description %}
    Portfolio d'images du photographe {{ pf_owner_name }}
{% endblock description %}

{% block content %}
    <div class="col-md-12">
    </div>
{% endblock content %}
